{% extends 'frontend/portfolio/base.html' %}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'blog:all_blogs' %}">Blog</a></li>
            <li>{{ blog_post.title }}</li>
        </ol>
        <h2>{{ blog_post.title }}</h2>

    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-12 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="{{ blog_post.image.url }}" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        {{ blog_post.title }}
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time
                                    datetime="2020-01-01">{{blog_post.date|date:'d M Y'}}</time></li>

                        </ul>
                    </div>

                    <div class="entry-content">
                        <p> {{ blog_post.desc|safe }} </p>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

        </div>

    </div>
</section><!-- End Blog Single Section -->


{% endblock %}